<div style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
</div>


<!--===============================================================================================================
                                    Use only Observables & subscribe method
================================================================================================================-->
<!-- <table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let book of haxBooks">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table> -->



<!--===============================================================================================================
                                          Use observable with Async Pipe
================================================================================================================-->
<!-- <table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let book of haxBooks | async">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table> -->




<!--===============================================================================================================
                                        Use observable + Async Pipe + ngIf with loader
================================================================================================================-->
<!-- <table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngIf="haxBooks | async as book; else loading">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table>

<ng-template #loading>
  <div style="display: flex; justify-content: center; align-items: center; position: absolute; top: 25%; left: 46%;">
    <mat-spinner color="warn"></mat-spinner>
  </div>
</ng-template> -->




<!--===============================================================================================================
                                        Use observable + Async Pipe + ngIf with loader
================================================================================================================-->

<div *ngIf="haxBooks | async as book;">
  - {{book.name}} - {{book.owner}} - {{book.category}}
</div>
