<!-- <div style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
</div> -->


<!--===============================================================================================================
                                    Use only Observables & subscribe method
================================================================================================================-->
<table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let book of haxBooks">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table>



<!--===============================================================================================================
                                          Use observable with Async Pipe
================================================================================================================-->
<!-- <table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let book of haxBooks | async">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table> -->




<!--===============================================================================================================
                                        Use observable + Async Pipe + ngIf with loader
================================================================================================================-->
<!-- <table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Category</th>
  </tr>
  <tr *ngIf="haxBooks | async as book; else loading">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.owner}}</td>
    <td>{{book.category}}</td>
  </tr>
</table>

<ng-template #loading>
  <div style="display: flex; justify-content: center; align-items: center; position: absolute; top: 25%; left: 46%;">
    <mat-spinner color="warn"></mat-spinner>
  </div>
</ng-template> -->




<!--===============================================================================================================
                                      Use Pipe Map Operators + Subscribe Method
================================================================================================================-->
<!-------- Use Pipe Map Method ---------->
<!-- <div style="margin: 50px;" *ngIf="haxBooks | async as bookname;">
  {{bookname}}
</div> -->

<!-------- Use Subscribe Method ---------->
<!-- <div style="margin: 50px;" *ngIf="haxBooks">
  {{haxBooks}}
</div> -->




<!--===============================================================================================================
                                          HttpClient Get Method
================================================================================================================-->
<!-- <ul>
  <li *ngFor="let item of haxBooks">
    id: {{item.id}}, Name: {{item.name}}, Category: {{item.category}}
  </li>
</ul> -->



<!--===============================================================================================================
                                          HttpClient Post Method
================================================================================================================-->
<!-- <div *ngIf="datasaved" ngClass="success">
  Record Saved Successfully
</div>

<div *ngIf="dataDeleted" ngClass="deleteData">
  Record Saved Successfully
</div>

<form [formGroup]="bookform" (ngSubmit)="onFormSubmit()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input formControlName="name"></td>
    </tr>
    <tr>
      <td>Owner:</td>
      <td><input formControlName="owner"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input formControlName="email"></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><input formControlName="category"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button [disabled]="bookform.invalid">{{actionBtn?'Update':'Add'}}</button>
      </td>
    </tr>
  </table>
</form>

<br><br><br>
<hr class="new3">
<br><br>

<h3 class="title" style="text-align: center;">View</h3>
<table class="custom-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Email</th>
    <th>Category</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of allBooks | async">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.owner}}</td>
    <td>{{item.email}}</td>
    <td>{{item.category}}</td>
    <td><button type="button" (click)="booktoedit(item.id)">Edit</button></td>
    <td><button type="button" (click)="deleteBook(item.id)">Delete</button></td>
  </tr>
</table> -->





<!--===============================================================================================================
                                            Session Storage
================================================================================================================-->
<!-- <nav [ngClass]="'menu'">
  <ul>
    <li>
      <a routerLink="/company" routerLinkActive="active">Company</a>
      <a routerLink="/person" routerLinkActive="active">Person</a>
    </li>
  </ul>
</nav>

<div [ngClass]="'parent-container'">
  <router-outlet></router-outlet>
</div> -->




<!--===============================================================================================================
                                            Auxiliary Route 1
================================================================================================================-->
<!-- <nav [ngClass]="'menu'">
  <ul>
    <li>
      <a routerLink="/company" routerLinkActive="active">Company</a>
      <a [routerLink]="[{ outlets: { 'bookList': ['person'] } }]" routerLinkActive="active">Person</a>
      <a routerLink="/jquery-file" routerLinkActive="active">jquery-file</a>
    </li>
  </ul>
</nav>

<div [ngClass]="'parent-container'">
  <router-outlet></router-outlet>
  <router-outlet name="bookList"></router-outlet>
</div> -->





<!--===============================================================================================================
                                            Auxiliary Route 2
================================================================================================================-->
<!-- <nav ngClass="menu">
  <ul>
    <li>
      <a [routerLink]="['home']" routerLinkActive="active">Home</a>
      <a [routerLink]="['admin']" routerLinkActive="active">Admin</a>
    </li>
  </ul>
</nav>

<div [ngClass]="'parent-container'">
  <h3>
    <router-outlet></router-outlet>
  </h3>
</div> -->




<!--===============================================================================================================
                                            Get Checkbox Value
================================================================================================================-->
<!-- <div class="container">
  <h3 style="text-align: center; font-size: 18px; font-weight: 500;">Hello Component Logic</h3>
  <hr style="opacity: 0.3;"> -->


<!-------- Get CheckBox Event -------->
<!-- <mat-checkbox class="example-margin" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'true':'false')">Current
    Branch</mat-checkbox>
  <br> -->

<!-------- Get CheckBox Event -------->
<!-- <mat-checkbox class="example-margin" [(ngModel)]="myProperty">to be Handle</mat-checkbox>
  <h3>{{ myProperty }}</h3>

</div> -->
